{
  "semi": false,
  "tabWidth": 2,
  "singleQuote": true,
  "quoteProps": "preserve",
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "jsxSingleQuote": true,
  "jsxBracketSameLine": false,
  "insertPragma": false,
  "requirePragma": false,
  "proseWrap": "preserve",
  "useTabs": false
}
