{% extends 'videochat/main.html' %}
{% load static %}
{% block content %}

<main>

    <section id ='form-container'>
        <img id = 'logo' src="{% static 'images/chat_image.png' %}" />

        <div>
            <h1>Welcome to the chat</h1>
            <p>A medical group calling ap just for you</p>
        </div>

    <form id="form">
        <div class="form-field">
            <input type="submit" value="Join videocall">
        </div>
    </form>

    </section>

<script type="text/javascript">
    let form = document.getElementById('form')

    let handleSubmit = async (e) => {
        e.preventDefault()
        window.open('/room/', '_self')
    }
    form.addEventListener('submit', handleSubmit)
</script>

</main>
{% endblock content %}