<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reports </title>
</head>
<body>
    <h1>Medical Report for {{ patient_name }}</h1>
    <p>Patient ID: {{ patient_id }}</p>
    <h2>Consultation Details:</h2>
    <p>Date of consultation: {{ consultation_date }}</p>
    <p>Issue: {{ issue }}</p>
    <p>Doctor: {{ docton_name }} - {{ doctor_speciality }}</p>

    <h2>Prescribed Treatment:</h2>
    {% for item in treatment %}
        <h3>Medicine" {{ item.name_medicine }}</h3>
        <p>Dose: {{ item.dose }}</p>
        <p>Frequency: {{ item.frequency }}</p>
        <p>Start Date: {{ item.start_date }}</p>
        <p>End Date: {{ item.ending_date }}</p>
    {% endfor %}
    
</body>
</html>